{% comment %} 
This tagline will appear in your homepage
{% endcomment %}

<section class="grid-container usa-section usa-prose">
  <div class="grid-row grid-gap">
    <div class="tablet:grid-col-4">
      <h2 class="font-heading-xl margin-top-0 tablet:margin-bottom-0">A once-in-a-generation opportunity</h2>
    </div>
    <div class="tablet:grid-col-8 usa-prose">
      <p>
        The COVID-19 pandemic forced federal agencies
        to dramatically expand telework. While the move
        to distributed work first seemed like an experiment,
        it has since revealed itself to be good business: federal employees continued to successfully accomplish
       their agencies’ missions in 2020–2021, challenging
        preconceived notions of how, when, and where
        federal work can be performed.
      </p>
      <p>
        GSA launched Workplace 2030 to learn from
        this once-in-a-generation phenomenon, and
        to fundamentally update federal stakeholders’
        understanding of work processes. 
      </p>
    </div>
  </div>
</section>